
/* --- Common --- */
a{
 text-decoration: none;
}

ul{
  list-style: none;
}

body{
  margin:0;
}

.flash{
  text-align: center;
  font-size: xxx-large;
  background-color: teal;
  padding-top:130px;
}
/* --- Header --- */
header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav{
  display:flex;
  justify-content: space-around;
  background-color: black;
}

.header-rogo a{
    color:white;
    margin-top: 100px;
}

.header-rogo h1{
    height:100px;
    padding-top:20px;
    color: white;
}

.header-menu{
  width:30%;
}

.header-menu ul{
  display:flex;
}

.header-menu ul li{
  text-align:center;
}

.header-menu ul a{
    color:white;
    line-height: 100px;
    display: inline-block;
    width:10vw;
}

.header-menu ul a:hover{
  background-color:#DEB887;
}

.menu,.menu-btn{
  display:none;
}

/*レスポンシブ*/
@media(max-width:750px){
    .header-nav{
    justify-content:flex-start;
    }
    .header-menu ul a{
    width:25vw;
    }
    .header-menu{
    display:none;  
    }
    
    .menu-btn{
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeaea;
    color:gray;
    }

/*----------------------------
* ハンバーガメニュー本体
*----------------------------*/
    .menu{
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #555;
    }
    .menu__item{
      width: 100%;
      height: auto;
      padding: .5em 1em;
      text-align: center;
      color: #fff;
      box-sizing: border-box;
    }
    .menu a{
     color:white; 
    }
    .menu a:hover{
    background-color:#DEB887;
    }
     
/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
    .menu{
      transform: translateX(100vw);
      transition: all .3s linear;
    }
    /* アニメーション後のメニューの状態 */
    .menu.is-active{
      transform: translateX(0);
    }
    }

/* --- Container --- */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:white;
}

.form-header h1{
  font-size:3em;
  padding-top: 160px;;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: cadetblue;
  font-family: serif;
}

.form-container{
  margin-left:40%;
  font-size: larger;
}

.form-container ul{
  margin-top:150px;
}

.form-container ul li,.form-container p{
   padding:10px;
}

.check_box{
  padding:10px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.background{
  background-image:url('news_paper.jpg');
  min-height: 100vh;
  background-size: cover;
  position:relative;
}

.font-1{
  position:absolute;
  left: 15%;
  top: 40%;
}

.font-2{
  position:absolute;
  left: 15%;
  top: 70%;
}

.container-index h1{
  font-size:4em;
  font-weight:bold;
  color: white;
}

.container-index p{
  font-size:2em;
  font-weight:bold;
  color: white;
}

/*レスポンシブ*/
@media(max-width:800px){
    .font-1{
    font-size: 60%;
    top: 50%;
    left: 5%;
    }
    .font-2{
    font-size: 60%;
    top: 65%;
    left: 5%;
    }
    .header-rogo h1{
     margin-left:20px; 
    }
    .form-container{
    margin-left:20%;
    font-size: larger;
    }
}
@media(max-width:450px){
    .font-1{
    font-size: 40%;
    top: 35%;
    left: 5%;
    }
    .font-2{
    font-size: 60%;
    top: 45%;
    left: 5%;
    }
}
/*index show*/

.content_link{
  padding-left: 20px;
  padding-top: 20px;
}

.content_text{
  display: inline;
  color: dimgrey;
}

.content_text:hover{
  color: #fff;
  background: #00b5ad;
}

.content_img img{
  width:150px;
}

.content_img{
  width:150px;
  display:inline-block;
}
/* new */
.form_control{
  box-sizing: border-box;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form_control:focus {
  border: 1px solid #00b5ad;
}

label ,.form-container p,.check_box{
  color:gray;
}

.button-1 {
  display: inline-block;
  padding: 0.4em 1.6em;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.button-1:hover {
  color: #fff;
  background: #00b5ad;
}

.form-button{
  padding-bottom:100px;
}

.form-error{
  margin-left: 40%;
  font-size: larger;
  color: gray;
  padding-top:10px;
}

/*レスポンシブ*/
@media(max-width:800px){
    .form-error{
    margin-left: 20%;
    padding-top:10px;
    }
}


