
<div class="background">
  <div class="container-index">
    <div class="font-1">
      <h1>必要な情報だけ目にしよう</h1>
    </div>
    
    
    <div class="font-2">
      <p>fast_newsとは自分が興味のある、カテゴリーを選択しニュースにフィルタリングをかけるサービスです。</p>
    </div> 
  </div>
</div>


